*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a{
  color: #333;
  text-decoration: none;
}

.container{
  padding: 0 1rem;
}

.btn{
  display: flex;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover{
  background: #666;
}

.list{
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form{
  max-width: 300px;
  margin: auto;
}

.edit-form{
  max-width: 300px;
  margin: auto;
}